---
layout: default
---

<div class="home">

  <h1 class="page-heading">项目</h1>
  <div class="grey font14 page-heading-english">Projects</div>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
          <a class="post-link"
             {% if post.aburl %}
                href="{{ post.aburl}}"
             {% else %}
                href="{{ post.url | relative_url }}"
             {% endif %}
          >{{ post.title | escape }}</a> — {{post.description}}
          <div class="grey font14">{{post.englishTitle}} — {{post.englishDescription}}</div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
